.idea
*.iml
target/

*.jar

.gradle
local.properties
.DS_Store
/build
/captures

RecaptchaConstants.java
mains243.xml
actors63.xml
casts124.xml
test.xml
movies_output.txt
stars_output.txt
casts_output.txt
parsing_output.txt